<%= render template: 'layouts/_header.html.erb' %>


<h1>Edit <%= @tadpole.name %></h1>

<%= render 'form' %>


<!-- <form action="/tadpoles/<%= @tadpole.id %>/update" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= @tadpole.name %>">
  <label for="color">Color</label>
  <input type="text" id="color" name="color" value="<%= @tadpole.color %>">
  <input type="submit" value="update">
</form><br> -->
<a href="/tadpoles">Cancel</a>